bin/*
*/*.go
annotate/annotate
annotate/makeRes.sh
annotate/r9.txt
annotate/r10.txt
annotate/r11.txt
annotate/largeTest.sh
shuffle/shuffle
ego/ego
data/genomic.gff
doc/ginDoc.*
!doc/ginDoc.tex
doc/annotate.tex
doc/shuffle.tex
doc/ego.tex
doc/intro.tex
doc/util.tex
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/*.pdf
doc/*.toc
doc/ginDoc.ps
intro/iv.txt
intro/ncbi_dataset*
intro/README.md
intro/obsId.txt
intro/cli.sh
