annotate/annotate
annotate/largeTest.sh
annotate/makeRes.sh
annotate/r10.txt
annotate/r11.txt
annotate/r9.txt
bin/*
data/genomic.gff
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/*.pdf
doc/*.toc
doc/annotate.tex
doc/date.txt
doc/ego.tex
doc/gin.*
!doc/gin.tex
doc/intro.tex
doc/shuffle.tex
doc/sumEgo.tex
doc/util.tex
doc/version.txt
ego/ego
ego/sumEgo
ego/time.sh
intro/README.md
intro/cli.sh
intro/iv.txt
intro/ncbi_dataset*
intro/obsId.txt
shuffle/shuffle
sumEgo/sumEgo
sumEgo/makeInput.sh
sumEgo/makeRes.sh
sumEgo/sumEgo.sh